.journey-form {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.journey-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.starting-location {
  height: 10vh;
  width: 20vw;
  font-size: 20px;
}

.ending-location {
  height: 10vh;
  width: 20vw;
  font-size: 20px;
}

#journey-button {
  visibility: hidden;
}
